/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/** class for changing appearance of category labels.*/
.label
{
  font-size: 14pt;
  font-weight: bold;
}
